@import "../../node_modules/swiper/css/swiper.min.css";
@import "../less/head.less";
@import "../less/normalized.less";

main {
    width: 92%;
    margin: 0 auto;




    .global {

        p {
            font-size: 17px;

        }

        img {
            width: 100%;
            height: 100%;
            margin: 15px 0;
        }
    }



    .global_car {
        display: flex;
        justify-content: space-around;

        img {
            width: 500px;
            height: 320px;
            margin: 15px 0;
        }

    }

    .global_car>.aaa {
        margin: 15px 17px;
    }

    .global_int {
        display: flex;
        justify-content: space-between;

        img {
            width: 870px;
            height: 580px;
        }
    }

    .myself {
        font-size: 34px;
        margin-bottom: 10px;
    }

    .bbb {
        font-size: 18px;
        font-weight: bold;
    }

    .global_foot {
        margin: 70px 0 100px 0;
    }

    h1 {
        font-size: 51px;
        font-weight: 400;
    }

    .swiper-container {
        width: 100%;
        height: 233px;
        margin: 10px auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

}