@import "../less/normalized.less";
@import "../less/head.less";

main {
    body {
        width: 100%;

        main {
            width: 90%;
            margin: 0 auto;
        }
    }

    .servicetop {
        position: relative;

        .servicep {
            position: absolute;
            top: 22px;
            left: 72px;

            p {
                color: white;
                font-size: 40px;
            }
        }

        .service_img {
            height: 100%;
            width: 100%;
            padding: 0;
            margin-bottom: 50px;
        }
    }

    .list {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            text-align: center;

        }

        img {
            width: 425px;
            height: 230px;
        }

        p {
            font-size: 18px;

        }
    }
}